/* 只修改 header 区域的背景为图片 */
#page-header.full_page {
  background: url(/img/sunsetbg.jpg) center center / cover no-repeat !important;
}

#page-header.not-home-page {
  background: url(/img/sunsetbg.jpg) center center / cover no-repeat !important;
}

/* header 区域的文字样式 */
#page-header #site-title,
#page-header #site-subtitle,
#page-header .scroll-down {
  color: #ffffff !important;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
